
#SACARTURNO {
  height: 100vh;
  width: 100vw;
  background: #614c3b;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  .imgBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0.5;
    filter: blur(0px);
    box-shadow: 0 -10px 20px rgb(0, 0, 0), 5px 10px 20px rgb(0, 0, 0);
  }
  .cards{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    .cardHidden{
      display: flex;
      align-items: end;
      justify-content: flex-end;
      border: none;
      border-radius: 15px;
      width: 30%;
      height: 80%;
      filter: blur(5px) grayscale(50%);
      transition: filter 0.5s ease-in-out;
    }
    .cardVisible{
      display: flex;
      align-items: end;
      justify-content: flex-end;
      border: none;
      border-radius: 15px;
      width: 30%;
      height: 80%;
      filter: blur(0);
      transition: filter 0.5s ease-in-out;
    }
    h3 {
      font-family: "Roboto", sans-serif;
    }
    .infoHoverHidden {
      opacity: 0;
      z-index: 100;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(transparent, black);
      padding: 20px;
      border-radius: 15px;
      transition: opacity 0.5s ease-in-out;
    }
    .infoHoverVisible {
      z-index: 100;
      opacity: 1;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(transparent, black);
      padding: 20px;
      border-radius: 15px;
      transition: opacity 0.5s ease-in-out;
    }
    
    img{
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
    }
    
  }
}

@media (max-width: 1095px) {
  #SACARTURNO{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .textH2{
      display: none;
    }
  }
}
@media (max-width: 650px){
  #SACARTURNO{
    background: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .imgBackground {
      display: none;
    }
    .textH2{
      display: none;
    }
  }
}

//////////////////

#SACARTURNOMODAL {
  height: 100%;
  width: 100%;
  // background: #0000003e;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}